.container {
    display: flex;
    width: 270px;
    height: 42px;
    gap: 0px;
    cursor: pointer;
    margin-bottom: 15px;
  }
  
  .star {
    width: 54px; 
    height: 42px;
    position: relative;
  }
  
  .star svg {
    width: 100%;
    height: 100%;
  }
  
  .star svg path {
    fill: grey;
  }
  
  .star.full svg path {
    fill: gold;
  }
  
  .star.half svg path {
    fill: url(#halfGradient);
  }
  