.container {
  display: flex;
  width: 207px;
  height: 70px;
  top: 162px;
  left: -329px;
  gap: 0px;
  opacity: 0px;
  margin-bottom: 20px;
}

.text {
  color: #767676;
  font-size: 18px;
  align-items: center;
  text-align: center;
  justify-content: center;
}
